@import '@css/_mixins';
@import '@css/_settings';

*, *:before, *:after {
    box-sizing: border-box;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

svg * {
    transform-box: fill-box;
}

html {
    font-size: $base-font-size;
    line-height: $base-line-height;
}

body {
    @include font-size(16px);
    background: $background-color;
    color: $foreground-color;
    font-family: $font-family;
}

h1 { @include font-size(60px); }
h2 { @include font-size(48px); }
h3 { @include font-size(36px); }
h4 { @include font-size(30px); }
h5 { @include font-size(24px); }
h6 { @include font-size(18px); }

h1, h2, h3, h4, h5, h6, b, strong {
    font-weight: bold;
}

i, em {
    font-style: italic;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}
